/* line 4, ../sass/misc.scss */
html, body {
  color: #555;
  font-family: Tahoma, Verdana, "Helvetica Neue", sans-serif;
  font-size: 11px;
  line-height: 1.5em;
}

/* line 11, ../sass/misc.scss */
body {
  background-color: #dadada;
}

/* line 17, ../sass/misc.scss */
.header .header-logo {
  display: block;
  margin-bottom: 20px;
}
/* line 21, ../sass/misc.scss */
.header .header-logo img {
  margin: 0 auto;
}

/* line 29, ../sass/misc.scss */
#contact-module {
  background-color: #006192;
  height: 158px;
}
/* line 33, ../sass/misc.scss */
#contact-module .contact-images {
  float: left;
  width: 326px;
}
/* line 37, ../sass/misc.scss */
#contact-module .contact-images li {
  float: left;
  height: 70px;
  margin: 6px 0 0 6px;
}
/* line 43, ../sass/misc.scss */
#contact-module .contact-images .inactive {
  display: none;
}
/* line 46, ../sass/misc.scss */
#contact-module #contact-info {
  background: url("../images/contact-info-background.png") top left no-repeat;
  color: #FFF;
  float: right;
  width: 534px;
}
/* line 52, ../sass/misc.scss */
#contact-module #contact-info .contact {
  position: relative;
  height: 158px;
}
/* line 56, ../sass/misc.scss */
#contact-module #contact-info .contact .contact-thumbnail-big {
  float: right;
  margin-left: 20px;
}
/* line 61, ../sass/misc.scss */
#contact-module #contact-info .contact .contact-name {
  border-bottom: 2px solid #FFF;
  font-family: "Webdings";
  font-size: 2.0em;
  margin-left: 10px;
  padding: 10px 0;
  width: 367px;
}
/* line 70, ../sass/misc.scss */
#contact-module #contact-info .contact .contact-content {
  margin-left: 10px;
}
/* line 74, ../sass/misc.scss */
#contact-module #contact-info .contact .read-more {
  bottom: 10px;
  color: #FFF;
  font-weight: bold;
  left: 10px;
  position: absolute;
  text-decoration: none;
}

/* line 90, ../sass/misc.scss */
.container {
  margin-bottom: 20px;
}
/* line 93, ../sass/misc.scss */
.container .top-navigation, .container .footer-navigation {
  float: left;
  margin: 5px 0;
}
/* line 97, ../sass/misc.scss */
.container .top-navigation li, .container .footer-navigation li {
  background: url("../images/bullet-point.gif") center left no-repeat;
  float: left;
  margin-right: 10px;
  padding: 5px 0 5px 12px;
}
/* line 104, ../sass/misc.scss */
.container .top-navigation li a, .container .footer-navigation li a {
  color: #44879c;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
}
/* line 110, ../sass/misc.scss */
.container .top-navigation li a:hover, .container .footer-navigation li a:hover {
  color: #30606f;
}
/* line 116, ../sass/misc.scss */
.container .top-navigation .current_page_item, .container .top-navigation .current-page-ancestor, .container .footer-navigation .current_page_item, .container .footer-navigation .current-page-ancestor {
  background: url("../images/bullet-point-blue.gif") center left no-repeat;
}
/* line 119, ../sass/misc.scss */
.container .top-navigation .current_page_item a, .container .top-navigation .current-page-ancestor a, .container .footer-navigation .current_page_item a, .container .footer-navigation .current-page-ancestor a {
  color: #30606f;
}
/* line 125, ../sass/misc.scss */
.container .content {
  border-collapse: separate;
  border-spacing: 10px 0;
  margin-left: -10px;
  width: 880px;
}
/* line 132, ../sass/misc.scss */
.container .content tr td {
  border: 3px solid silver;
  padding: 10px;
}
/* line 137, ../sass/misc.scss */
.container .content tr .sidebar {
  width: 250px;
}
/* line 144, ../sass/misc.scss */
.container .sidebar-menu li {
  border-bottom: 1px solid #EEE;
  padding: 2px 0 2px 9px;
}
/* line 148, ../sass/misc.scss */
.container .sidebar-menu li a {
  color: #474845;
  font-family: Verdana;
  text-decoration: none;
}
/* line 153, ../sass/misc.scss */
.container .sidebar-menu li a:hover {
  color: #003066;
  text-decoration: underline;
}
/* line 160, ../sass/misc.scss */
.container .sidebar-menu .current-menu-item {
  background: url("../images/subnav-bullet-point.gif") left center no-repeat;
  margin-right: -10px;
}
/* line 164, ../sass/misc.scss */
.container .sidebar-menu .current-menu-item a {
  color: #003066;
  font-weight: bold;
}
/* line 172, ../sass/misc.scss */
.container .page .title {
  color: #474845;
  font-family: Verdana;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 5px;
}
/* line 180, ../sass/misc.scss */
.container .page .page-thumbnail {
  float: right;
  margin-left: 10px;
}
/* line 186, ../sass/misc.scss */
.container .page .entry a {
  color: #44879c;
}
/* line 189, ../sass/misc.scss */
.container .page .entry a:hover {
  color: #30606f;
}
/* line 192, ../sass/misc.scss */
.container .page .entry strong {
  font-weight: bold;
}
/* line 194, ../sass/misc.scss */
.container .page .entry p {
  margin-bottom: 15px;
}
/* line 198, ../sass/misc.scss */
.container .page .entry ul {
  list-style-image: url("../images/entry-bullet-point.gif");
  list-style-position: inside;
  margin: 0 0 15px 20px;
  padding-left: 13px;
  text-indent: -20px;
}
/* line 205, ../sass/misc.scss */
.container .page .entry ul li {
  margin-bottom: 10px;
}
/* line 212, ../sass/misc.scss */
.container .post {
  margin-bottom: 20px;
}
/* line 215, ../sass/misc.scss */
.container .post .header {
  background: #eaeaea;
  padding: 3px 5px;
}
/* line 219, ../sass/misc.scss */
.container .post .header .post-title {
  color: #141d58;
  float: left;
  font-weight: bold;
  margin-right: 5px;
  text-decoration: none;
}
/* line 227, ../sass/misc.scss */
.container .post .header .post-date {
  color: #888;
  font-size: 0.9em;
}
/* line 233, ../sass/misc.scss */
.container .post .page-thumbnail {
  float: right;
  margin-left: 10px;
}
/* line 238, ../sass/misc.scss */
.container .post .entry {
  padding: 5px;
}
/* line 244, ../sass/misc.scss */
.container .single .go-back {
  color: #44879c;
  font-size: 1em;
  font-weight: bold;
  padding-left: 5px;
  text-decoration: none;
}
/* line 251, ../sass/misc.scss */
.container .single .go-back:hover {
  color: #30606f;
}
/* line 259, ../sass/misc.scss */
.container .single-sp_contact table td {
  border: none;
  padding: 0 0 10px 0;
}
/* line 263, ../sass/misc.scss */
.container .single-sp_contact table td ul.no-style {
  margin-bottom: 5px;
  margin-left: 0;
  padding-left: 0;
}
/* line 268, ../sass/misc.scss */
.container .single-sp_contact table td ul.no-style li {
  list-style-image: none;
  margin-bottom: 5px;
  text-indent: 0;
}
/* line 275, ../sass/misc.scss */
.container .single-sp_contact table td.head {
  color: #003066;
  font-weight: bold;
  width: 109px;
  padding-right: 10px;
}
/* line 282, ../sass/misc.scss */
.container .single-sp_contact table td.period {
  width: 119px;
}
/* line 287, ../sass/misc.scss */
.container .single-sp_contact .header {
  background: none;
  margin-bottom: 15px;
  position: relative;
}
/* line 292, ../sass/misc.scss */
.container .single-sp_contact .header a {
  color: #44879c;
}
/* line 296, ../sass/misc.scss */
.container .single-sp_contact .header .contact-thumbnail {
  float: left;
  margin-bottom: 10px;
  margin-right: 20px;
}
/* line 302, ../sass/misc.scss */
.container .single-sp_contact .header .title {
  margin: 0;
}
/* line 304, ../sass/misc.scss */
.container .single-sp_contact .header .contact-info {
  position: relative;
  top: -1px;
}
/* line 308, ../sass/misc.scss */
.container .single-sp_contact .header .contact-info li {
  margin-bottom: 1px;
}
/* line 310, ../sass/misc.scss */
.container .single-sp_contact .header .contact-info table td {
  border: none;
  padding: 0;
}
/* line 314, ../sass/misc.scss */
.container .single-sp_contact .header .contact-info table td.number {
  padding-left: 20px;
}

/* line 324, ../sass/misc.scss */
.newsletter .wpcf7-list-item {
  display: block;
  float: left;
  width: 550px;
}
/* line 330, ../sass/misc.scss */
.newsletter .wpcf7-list-item-label {
  float: left;
  width: 200px;
}
/* line 335, ../sass/misc.scss */
.newsletter .text-field-label {
  float: left;
  display: block;
  padding-left: 5px;
  width: 200px;
}
/* line 342, ../sass/misc.scss */
.newsletter input[type=text] {
  float: left;
}
/* line 346, ../sass/misc.scss */
.newsletter input[type=submit] {
  margin-left: 207px;
}

/* line 351, ../sass/misc.scss */
#frontpage {
  margin-top: 30px;
  float: left;
}
/* line 355, ../sass/misc.scss */
#frontpage .headline {
  color: #44879c;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 362, ../sass/misc.scss */
#frontpage .sidebar-left {
  float: left;
  margin-right: 30px;
  padding: 0 13px;
  width: 200px;
}
/* line 368, ../sass/misc.scss */
#frontpage .sidebar-left ul {
  margin-bottom: 20px;
}
/* line 371, ../sass/misc.scss */
#frontpage .sidebar-left ul li {
  margin-bottom: 10px;
}
/* line 374, ../sass/misc.scss */
#frontpage .sidebar-left ul li .date {
  border-bottom: 1px solid #EEE;
  font-weight: bold;
}
/* line 379, ../sass/misc.scss */
#frontpage .sidebar-left ul li .title a {
  color: #555;
  text-decoration: none;
}
/* line 386, ../sass/misc.scss */
#frontpage .sidebar-left .more-news {
  color: #44879c;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
}
/* line 392, ../sass/misc.scss */
#frontpage .sidebar-left .more-news:hover {
  color: #30606f;
}
/* line 398, ../sass/misc.scss */
#frontpage .content {
  float: left;
  width: 400px;
}
/* line 404, ../sass/misc.scss */
#frontpage .sidebar-right {
  float: right;
  text-align: right;
  width: 200px;
}
/* line 409, ../sass/misc.scss */
#frontpage .sidebar-right ul li {
  margin-bottom: 0px;
}
/* line 412, ../sass/misc.scss */
#frontpage .sidebar-right ul li a {
  color: #44879c;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
}
/* line 418, ../sass/misc.scss */
#frontpage .sidebar-right ul li a:hover {
  color: #30606f;
}
/* line 425, ../sass/misc.scss */
#frontpage .bottom-menu {
  margin: 45px 0 0 13px;
}
/* line 428, ../sass/misc.scss */
#frontpage .bottom-menu .headline {
  margin-bottom: 10px;
}
/* line 432, ../sass/misc.scss */
#frontpage .bottom-menu .certified-adviser {
  float: right;
}
/* line 435, ../sass/misc.scss */
#frontpage .bottom-menu .certified-adviser .headline {
  text-align: right;
}
/* line 440, ../sass/misc.scss */
#frontpage .bottom-menu .footer-navigation {
  margin: 0;
}
/* line 443, ../sass/misc.scss */
#frontpage .bottom-menu .footer-navigation li {
  line-height: 1em;
  padding: 0 0 0 15px;
  width: 110px;
}

/* line 452, ../sass/misc.scss */
.footer {
  background-color: #005793;
  color: #FFF;
  float: left;
  font-size: 0.9em;
  padding: 10px;
  width: 840px;
}
/* line 460, ../sass/misc.scss */
.footer .copyright {
  float: left;
}
/* line 464, ../sass/misc.scss */
.footer .info {
  float: right;
}
/* line 467, ../sass/misc.scss */
.footer .info a {
  color: #FFF;
}

/* line 471, ../sass/misc.scss */
.clearer {
  clear: both;
}
