/* line 4, ../sass/misc.scss */
html, body {
  color: #555;
  font-family: Tahoma, Verdana, "Helvetica Neue", sans-serif;
  font-size: 11px;
  line-height: 1.5em;
}

/* line 11, ../sass/misc.scss */
body {
  background-color: #dadada;
}

/* line 17, ../sass/misc.scss */
.header .header-logo {
  display: block;
  margin-bottom: 20px;
}
/* line 21, ../sass/misc.scss */
.header .header-logo img {
  margin: 0 auto;
}
/* line 26, ../sass/misc.scss */
.header .contact-module {
  background-color: #005793;
  min-height: 150px;
}

/* line 32, ../sass/misc.scss */
.container {
  margin-bottom: 20px;
}
/* line 35, ../sass/misc.scss */
.container .top-navigation {
  float: left;
  margin: 5px 0;
}
/* line 39, ../sass/misc.scss */
.container .top-navigation li {
  background: url("../images/bullet-point.gif") center left no-repeat;
  float: left;
  margin-right: 10px;
  padding: 5px 0 5px 12px;
}
/* line 46, ../sass/misc.scss */
.container .top-navigation li a {
  color: #44879c;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
}
/* line 52, ../sass/misc.scss */
.container .top-navigation li a:hover {
  color: #30606f;
}
/* line 58, ../sass/misc.scss */
.container .top-navigation .current_page_item {
  background: url("../images/bullet-point-blue.gif") center left no-repeat;
}
/* line 61, ../sass/misc.scss */
.container .top-navigation .current_page_item a {
  color: #30606f;
}
/* line 67, ../sass/misc.scss */
.container .content {
  border-collapse: separate;
  border-spacing: 10px 0;
  margin-left: -10px;
  width: 880px;
}
/* line 74, ../sass/misc.scss */
.container .content tr td {
  border: 3px solid silver;
  padding: 10px;
}
/* line 79, ../sass/misc.scss */
.container .content tr .sidebar {
  width: 250px;
}
/* line 86, ../sass/misc.scss */
.container .sidebar-menu li {
  border-bottom: 1px solid #EEE;
  padding: 2px 0 2px 9px;
}
/* line 90, ../sass/misc.scss */
.container .sidebar-menu li a {
  color: #474845;
  font-family: Verdana;
  text-decoration: none;
}
/* line 95, ../sass/misc.scss */
.container .sidebar-menu li a:hover {
  color: #003066;
  text-decoration: underline;
}
/* line 102, ../sass/misc.scss */
.container .sidebar-menu .current-menu-item {
  background: url("../images/subnav-bullet-point.gif") left center no-repeat;
  margin-right: -10px;
}
/* line 106, ../sass/misc.scss */
.container .sidebar-menu .current-menu-item a {
  color: #003066;
  font-weight: bold;
}
/* line 115, ../sass/misc.scss */
.container .post .title {
  color: #474845;
  font-family: Verdana;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 5px;
}
/* line 123, ../sass/misc.scss */
.container .post .page-thumbnail {
  float: right;
  margin-left: 10px;
}
/* line 129, ../sass/misc.scss */
.container .post .entry a {
  color: #44879c;
}
/* line 132, ../sass/misc.scss */
.container .post .entry a:hover {
  color: #30606f;
}
/* line 135, ../sass/misc.scss */
.container .post .entry p {
  margin-bottom: 15px;
}
/* line 139, ../sass/misc.scss */
.container .post .entry ul {
  list-style-image: url("../images/entry-bullet-point.gif");
  list-style-position: inside;
  margin: 0 0 15px 20px;
  padding-left: 13px;
  text-indent: -20px;
}
/* line 146, ../sass/misc.scss */
.container .post .entry ul li {
  margin-bottom: 10px;
}

/* line 154, ../sass/misc.scss */
#frontpage {
  margin-top: 30px;
  float: left;
}
/* line 158, ../sass/misc.scss */
#frontpage .headline {
  color: #44879c;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 165, ../sass/misc.scss */
#frontpage .sidebar-left {
  float: left;
  margin-right: 30px;
  padding: 0 13px;
  width: 200px;
}
/* line 172, ../sass/misc.scss */
#frontpage .sidebar-left li .date {
  border-bottom: 1px solid #EEE;
  font-weight: bold;
}
/* line 179, ../sass/misc.scss */
#frontpage .content {
  float: left;
  width: 400px;
}
/* line 184, ../sass/misc.scss */
#frontpage .sidebar-right {
  float: right;
  text-align: right;
  width: 200px;
}
/* line 189, ../sass/misc.scss */
#frontpage .sidebar-right ul li {
  margin-bottom: 0px;
}
/* line 192, ../sass/misc.scss */
#frontpage .sidebar-right ul li a {
  color: #44879c;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
}

/* line 202, ../sass/misc.scss */
.footer {
  background-color: #005793;
  color: #FFF;
  float: left;
  font-size: 0.9em;
  padding: 10px;
  width: 840px;
}
/* line 210, ../sass/misc.scss */
.footer .copyright {
  float: left;
}
/* line 214, ../sass/misc.scss */
.footer .info {
  float: right;
}

/* line 219, ../sass/misc.scss */
.clearer {
  clear: both;
}
